#address, #modal-address-container {
  .modal-address {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-width: 70%;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 0.5rem;
    .action-button {
      display: flex;
      align-items: center;
      justify-content: right;
    }
  }
}


