.bubble {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  margin-right: 5px;
  background-color: #ce0033;
}
.regex {
  font-size: 11px;
  margin-bottom: 21px;
}

.error {
  font-size: 0.9rem !important;
  text-align: left! important;
  font-weight: bold !important;
}